.data-table-body a {
  color: rgb(6,69,173);
  text-decoration: underline;
}

.content-header a {
  text-decoration: underline;
}

.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  margin: 20px 10px 0 0;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.navi-position {
  top: 50px;
  right: 0px;
  left: -60px;
  bottom: 0px;
}

.nav_menu {
  padding: 5px 0 10px 10px;
  box-shadow: 8px 8px 21px 0px rgb(0 0 0 / 0.1);
}

.nav_menu_li {
  list-style: none;
  margin-top: 5px;
}

.sort-desc:after {
  content:"▼";
}

.sort-asc:after {
  content:"▲";
}

.search-form:after {
  content:"▼";
}

.search-form.is-open:after {
  content:"▲";
  
}
.search-form-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}

.search-form-content.is-open {
  height: auto;
  opacity: 1;
}

.error-msg {
  font-size: 0.75rem;
  color: red;
}

.analytics-summay-table th,.analytics-summay-table td {
  text-align: center;
  padding: 0.5rem;
  border-width: 1px;
}